<<<<<<< HEAD
.body{
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
a { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
/* WebStudio */

.logo {
    color: #000000;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 1,2;
        letter-spacing: 0.03em;
        margin-right: 93px;
    }
.logo-header {
        color: #2196F3;
    }
.logo-footer{
        color: #FFFFFF;
    }

.header-container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}
.meny-nav {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 14px;
    color: #212121; 
}


.meny-nav:hover,
.meny-nav:active,
.meny-nav:focus
{
    color: #2196F3;
}

.list{
    list-style: none;
}

.list-flax {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.list-item:not(:last-child){
    margin-right: 50px;
}

.adress-flax {
    display: flex;
    font-style:normal;
    margin-left: auto;
    align-items: flex-end;
} 

.adress-flax .mail{
    margin-left: 331px;
    margin-right: 50px;
}

.header-container{
    display: flex;
}

.navigation{
    display: flex;
    align-items: center;
    
}


/* Эффективные решения для вашего бизнеса */

.site-header{
    max-width: 100%;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2F303A;
    

}
.site-header h1{
    color: #FFFFFF;
    /* margin-top: 0px;
    margin-bottom: 30px; */
}
.button{
    color: #FFFFFF;
    background: #2196F3;
    padding right: 32px;
    padding left: 32px;
    border: 2px;
    height: 50px; 
    border-radius: 5px;
    
}
.conteiner{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* .conteiner-portfolio{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
} */
.heading{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
}


/* Особенности команды */

.conteiner-features{
    /* margin-bottom: 94px; */
    padding-top: 94px;
    /* padding-bottom: 0; */
    
}

.features{
    display: flex;
    margin-top: 0;
    margin-right: -30px;
    margin-bottom: -30px;
    justify-content:space-between;
    
}


.features-list{
  padding: 30px;
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
  /* margin-bottom: 30px; */
   /* Задаём ширину элементов  */
  flex-basis: calc((100% -  3* 30px) / 4);
  /* width: 270px; */
  /* height: 101px; */
  
}   

.features p {
    color: #757575;
}
.features h3 {
    color: #212121;;
}


/* Чем мы занимаемся */

.features-work{
    padding-top: 94px;
    padding-bottom: 94px ;
}

 .work-list{
    display:flex ;
    padding-left: 0px;
    padding-top: 0px;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
 }

 .work-item{
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    width: calc((100% - 30px * 2) / 3);
}


.work-item:nth-child(3n){
    margin-right: 0px;
 }

 
/* Наша команда */

.section-team{
    padding-top: 94px;
    padding-bottom: 94px ;
    /* background-color: thistle ; */
}
.section-team h2 {
    margin-bottom: 50px;
    margin-top: 0px;
}
.team{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.team p {
    color: #757575;
    margin:0px;
    position: inherit;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
    

.team-list{
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    width: calc((100% - 30px * 3) / 4);
}

.team-list:not(:last-child){
    margin-right: 30px;
    /* flex-basis: calc((100% - 3 * 30px) / 4); */
    
}
.team-list:last-child{
    margin-right: 0px;
}

/* .team-list:nth-last-child(-n + 5){
    margin-bottom: 0px;
} */


/* Подвал */
.fotter{
    background: #2F303A;
}

.fotter-nav{
    color: rgba(255, 255, 255, 0.6);
}
.fotter-adress{
    color: #FFFFFF;
}
    

/* Потрфолио */
.logo-footer {
    color:  #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
 .fotter-logo {
    color: #2196F3;
 }
 /* Потрфолио */
 .conteiner-portfolio{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: 215px;
}

.team{
    padding-left: 0px;
    padding-top: 0px;
    display:flex ;
    flex-wrap: wrap;
    /* margin-right: 30px; */
    margin-bottom: 30px;
    
}
.team-folio{
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    width: calc((100% - 30px * 2) / 3);
}
.team-folio:nth-child(3n){
    margin-right: 0px;
}

.team-folio:nth-last-child(-n + 4){
    margin-bottom: 0px;
} 

.button-filter{
    text-align: center;
    margin-bottom: 34px;

}
/* Фильтр портфолио */
.filter{
    border: 2px;
    color: #212121;
    background: F5F4FA;
    margin: 0px;
    margin-right: 8px;  
    height: 38px; 
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
 }
.filter 2:last-child{
    margin-right: 0px;
}

 .filter:hover,
 .filter:focus{
    color: #F5F4FA;
    background-color: #2196F3;


 }
 
 .portfolio h1{
    color: #212121;
 }
 .portfolio p{
    color: #757575;
 }
 li{
    list-style-type: none;}

 .list{
     font-style: normal;
 }
=======
.body{
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
a { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
/* WebStudio */

.logo {
    color: #000000;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 26px;
        line-height: 1,2;
        letter-spacing: 0.03em;
        margin-right: 93px;
    }
.logo-header {
        color: #2196F3;
    }
.logo-footer{
        color: #FFFFFF;
    }

.header-container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}
.meny-nav {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 14px;
    color: #212121; 
}


.meny-nav:hover,
.meny-nav:active,
.meny-nav:focus
{
    color: #2196F3;
}

.list{
    list-style: none;
}

.list-flax {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.list-item:not(:last-child){
    margin-right: 50px;
}

.adress-flax {
    display: flex;
    font-style:normal;
    margin-left: auto;
    align-items: flex-end;
} 

.adress-flax .mail{
    margin-left: 331px;
    margin-right: 50px;
}

.header-container{
    display: flex;
}

.navigation{
    display: flex;
    align-items: center;
    
}


/* Эффективные решения для вашего бизнеса */

.site-header{
    max-width: 100%;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2F303A;
    

}
.site-header h1{
    color: #FFFFFF;
    /* margin-top: 0px;
    margin-bottom: 30px; */
}
.button{
    color: #FFFFFF;
    background: #2196F3;
    padding right: 32px;
    padding left: 32px;
    border: 2px;
    height: 50px; 
    border-radius: 5px;
    
}
.conteiner{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* .conteiner-portfolio{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
} */
.heading{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
}


/* Особенности команды */

.conteiner-features{
    /* margin-bottom: 94px; */
    padding-top: 94px;
    /* padding-bottom: 0; */
    
}

.features{
    display: flex;
    margin-top: 0;
    margin-right: -30px;
    margin-bottom: -30px;
    justify-content:space-between;
    
}


.features-list{
  padding: 30px;
  width: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
  /* margin-bottom: 30px; */
   /* Задаём ширину элементов  */
  flex-basis: calc((100% -  3* 30px) / 4);
  /* width: 270px; */
  /* height: 101px; */
  
}   

.features p {
    color: #757575;
}
.features h3 {
    color: #212121;;
}


/* Чем мы занимаемся */

.features-work{
    padding-top: 94px;
    padding-bottom: 94px ;
}

 .work-list{
    display:flex ;
    padding-left: 0px;
    padding-top: 0px;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
 }

 .work-item{
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    width: calc((100% - 30px * 2) / 3);
}


.work-item:nth-child(3n){
    margin-right: 0px;
 }

 
/* Наша команда */

.section-team{
    padding-top: 94px;
    padding-bottom: 94px ;
    /* background-color: thistle ; */
}
.section-team h2 {
    margin-bottom: 50px;
    margin-top: 0px;
}
.team{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.team p {
    color: #757575;
    margin:0px;
    position: inherit;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
    

.team-list{
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    width: calc((100% - 30px * 3) / 4);
}

.team-list:not(:last-child){
    margin-right: 30px;
    /* flex-basis: calc((100% - 3 * 30px) / 4); */
    
}
.team-list:last-child{
    margin-right: 0px;
}

/* .team-list:nth-last-child(-n + 5){
    margin-bottom: 0px;
} */


/* Подвал */
.fotter{
    background: #2F303A;
}

.fotter-nav{
    color: rgba(255, 255, 255, 0.6);
}
.fotter-adress{
    color: #FFFFFF;
}
    

/* Потрфолио */
.logo-footer {
    color:  #FFFFFF;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
 .fotter-logo {
    color: #2196F3;
 }
 /* Потрфолио */
 .conteiner-portfolio{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: 215px;
}

.team{
    padding-left: 0px;
    padding-top: 0px;
    display:flex ;
    flex-wrap: wrap;
    /* margin-right: 30px; */
    margin-bottom: 30px;
    
}
.team-folio{
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
    width: calc((100% - 30px * 2) / 3);
}
.team-folio:nth-child(3n){
    margin-right: 0px;
}

.team-folio:nth-last-child(-n + 4){
    margin-bottom: 0px;
} 

.button-filter{
    text-align: center;
    margin-bottom: 34px;

}
/* Фильтр портфолио */
.filter{
    border: 2px;
    color: #212121;
    background: F5F4FA;
    margin: 0px;
    margin-right: 8px;  
    height: 38px; 
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
 }
.filter 2:last-child{
    margin-right: 0px;
}

 .filter:hover,
 .filter:focus{
    color: #F5F4FA;
    background-color: #2196F3;


 }
 
 .portfolio h1{
    color: #212121;
 }
 .portfolio p{
    color: #757575;
 }
 li{
    list-style-type: none;}

 .list{
     font-style: normal;
 }
>>>>>>> 77a7763fc47c54b89e32a1c23c9edf1edf07edb3
